[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2.1"
djangorestframework = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-rest-passwordreset = "*"
python-decouple = "*"
factory-boy = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
